.gallery {
  max-width: 428px;
  padding: 25px 0;
  overflow: hidden;

  @media (min-width: $desctop-width) {
    position: relative;
    flex-grow: 1;
    order: 1;
    padding: 0;
    max-width: 100%;
    overflow: auto;
  }
}

.gallery__list {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  transition: all 1s;

  @media (min-width: $desctop-width) {
    position: absolute;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    padding: 35px 52px 0 0;
  }
}

.gallery__item {
  position: relative;
  left: 0;
  transition: all ease 1s;
}

// .gallery__list--nojs {
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
// }

.gallery__picture-desctop {
  display: none;

  @media (min-width: $desctop-width) {
    display: block;
    width: 100%;
  }
}

.gallery__picture {
  display: block;
  max-width: none;
  height: 247px;
  margin: 0 auto;

  @media (min-width: $desctop-width) {
    margin: 0;
    height: 373px;
  }
}

.gallery__list--nojs .gallery__picture--2,
.gallery__picture--3 {
  display: block;
}

.gallery__pagination {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
