.preview {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 35px;

  @media (min-width: $desctop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
  }
}

.preview__item {
  position: relative;
}

.preview__title {
  position: absolute;
  font-size: 36px;
  font-weight: 250;
  line-height: 50px;
  text-transform: uppercase;
  color: #353535;
  margin: 0;

  @media (min-width: $desctop-width) {
    font-size: 55px;
    line-height: 77px;
  }
}

.preview__title--man {
  top: 50px;
  margin-left: 24px;

  @media (min-width: $desctop-width) {
    top: 82px;
    left: -73px;
    margin: 0;
  }
}

.preview__title--women {
  margin-right: 24px;
  top: 50px;
  right: 0;

  @media (min-width: $desctop-width) {
    top: 82px;
    right: -73px;
    margin: 0;
  }
}

.preview__link {
  position: absolute;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  color: #bb3024;
  width: 81px;
  padding: 0 5px 7px 5px;
  border-bottom: 1px solid #bb3024;

  &:hover {
    font-size: 15px;
    color: #42423e;
    border-bottom: 1px solid #42423e;
    transition: all 0.3s;
  }

  &:active {
    color: #bb3024;
    border-bottom: 1px solid #bb3024;
    opacity: 0.6;
    transition: none;
  }
}

.preview__link--man {
  margin-left: 34px;
  top: 100px;

  @media (min-width: $desctop-width) {
    top: 170px;
    left: -73px;
    margin: 0;
  }
}

.preview__link--women {
  margin-right: 34px;
  top: 100px;
  right: 0;

  @media (min-width: $desctop-width) {
    top: 170px;
    right: -73px;
    margin: 0;
  }
}

.preview__image {
  display: block;

  @media (min-width: $desctop-width) {
    width: 628px;
  }
}

.preview__image--man {
  margin-left: auto;
}
