.tailoring {
  padding-bottom: 41px;

  @media (min-width: $desctop-width) {
    position: relative;
    padding: 76px 195px 196px 195px;
  }
}

.tailoring__layout {
  @media (min-width: $desctop-width) {
    position: relative;
    display: flex;
    padding: 93px 100px 145px;
    background-color: #fbfbfb;
    border: 0.7px solid #d9d9d9;
  }
}

.tailoring__title {
  font-weight: 250;
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 0 24px;
  margin-bottom: 25px;

  @media (min-width: $desctop-width) {
    font-size: 55px;
    line-height: 77px;
    width: 525px;
    margin-bottom: 15px;
    padding: 0;
  }
}

.tailoring__title-color {
  color: #bb3024;
}

.tailoring__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  margin: 0;
  padding: 0 24px;
  margin-bottom: 25px;

  @media (min-width: $desctop-width) {
    font-size: 20px;
    line-height: 28px;
    width: 429px;
    padding: 0;
    margin-bottom: 40px;
  }
}

.tailoring__technology {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  margin: 0;
  padding: 0 24px;
  margin-bottom: 25px;

  @media (min-width: $desctop-width) {
    font-size: 20px;
    line-height: 28px;
    width: 485px;
    padding: 0;
    margin: 0;
  }
}

.tailoring__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 41px;

  @media (min-width: $desctop-width) {
    position: absolute;
    margin: 0;
    width: 1213px;
    bottom: 0;
    right: 0;
  }
}

.tailoring__row {
  @media (min-width: $desctop-width) {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 100px;
    left: 195px;
    z-index: 1;
  }
}

.tailoring__advantages {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0 48px 47px 48px;
  gap: 25px;

  @media (min-width: $desctop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    gap: 0;
    border: 0.7px solid #d9d9d9;
  }
}

.tailoring__item {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  @media (min-width: $desctop-width) {
    background-color: #ffffff;
    padding: 56px 10px 51px 14px;
    border-left: 0.7px solid #d9d9d9;
    align-items: center;
  }
}

.tailoring__item:first-child {
  border-left: none;
}

.tailoring__text-advantages {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  width: 213px;
}

.tailoring__text-advantages--bold {
  font-weight: 500;
}

.tailoring__wrapper {
  padding: 0 24px;

  @media (min-width: $desctop-width) {
    padding: 0;
  }
}
