.assembling__wrapper {
  padding: 47px 22px 53px 27px;
}

.assembling__title {
  font-weight: 250;
  font-size: 35px;
  line-height: 42px;
  color: #353535;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.assembling__text {
  font-size: 16px;
  line-height: 22px;
  color: #414141;
  margin: 0;
}

.assembling__image {
  display: block;
}
