.atelier {
  padding: 121px 24px 59px;
}

.atelier__title {
  font-weight: 250;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 17px;
}

.atelier__title-bold {
  font-weight: 500;
}

.atelier__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #414141;
  margin: 0;
  margin-bottom: 20px;
}

.atelier__text--bold {
  font-weight: 700;
  margin-bottom: 48px;
}

.atelier__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 31px 65px 34px;
  border-radius: 87px;
  border: 0.7px solid #d9d9d9;
  background-color: #fbfbfb;
  cursor: pointer;
}
