.btn-up {
  position: fixed;
  background-color: #a80f0f;
  border: none;
  border-radius: 22px;
  width: 44px;
  height: 44px;
  right: 0;
  bottom: 20px;
  cursor: pointer;

  @media (min-width: $desctop-width) {
    width: 60px;
    height: 60px;
    right: 20px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.btn-up::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $desctop-width) {
    width: 40px;
    height: 40px;
    left: 10px;
    top: 10px;
  }
}

.btn-up--hide {
  display: none;
}
