.certificate-promo {
  background: linear-gradient(45deg, #f5f7fa, #c3cfe2);
  padding: 82px 24px;

  @media (min-width: $desctop-width) {
    display: flex;
    justify-content: space-between;
    background-image: url("../img/certificate-promo-bacground.png");
    background-color: #c3cfe2;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 165px 541px 155px 143px;
  }
}

.certificate-promo__image {
  display: block;
  border-radius: 15px;
  box-shadow: 1px 30px 26px 13px rgba(3, 8, 11, 0.22);
  margin-bottom: 68px;

  @media (min-width: $desctop-width) {
    width: 645px;
    box-shadow: none;
    margin: 0;
  }
}

.certificate-promo__wrapper {
  @media (min-width: $desctop-width) {
    order: -1;
    background-color: rgba(183, 218, 245, 0.2);
    box-shadow: 39px 29px 100px 100px rgba(183, 218, 245, 0.2);
  }
}

.certificate-promo__text {
  font-weight: 250;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #353535;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $desctop-width) {
    width: 520px;
    font-size: 36px;
    line-height: 50px;
    text-align: left;
    color: #353535;
    margin-bottom: 33px;
  }
}

.certificate-promo__text-bold {
  font-weight: 500;
}

.certificate-promo__link {
  @media (min-width: $desctop-width) {
    width: 398px;
  }
}

