.fabrics {
  background-image: url("../img/fabrics.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #000000;
  padding: 176px 32px 68px 25px;
}

.fabrics__title {
  font-weight: 250;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.fabrics__teext {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}
