.main-header {
  position: relative;
  padding: 18px 24px 11px;
  border-bottom: 0.5px solid #d9d9d9;

  @media (min-width: $desctop-width) {
    position: static;
    display: flex;
    align-items: center;
    padding: 0 195px;
  }
}

.main-header__link {
  display: block;
  width: 121px;
  height: 38px;

  @media (min-width: $desctop-width) {
    margin-right: 51px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
