.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60px;
  height: 10px;
}

.pagination--gallery {
  @media (min-width: $desctop-width) {
    display: none;
  }
}

.pagination__toogle {
  display: block;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #bb3024;
  cursor: pointer;
}

.pagination__toogle:hover {
  opacity: 0.7;
}

.pagination__toogle:active {
  opacity: 0.5;
}

.pagination__toogle:focus {
  opacity: 0.5;
}
