.site-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $desctop-width) {
    flex-direction: row;
    padding: 0;
    border: none;
    gap: 0;
    width: 768px;
  }
}

.site-list li:last-child {
  @media (min-width: $desctop-width) {
    border-right: 0.5px solid #d9d9d9;
  }
}

.site-list--footer {
  @media (min-width: $desctop-width) {
    width: 675px;
  }
}

.site-list__link {
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: 19px;
  color: #353535;
  text-transform: uppercase;
  padding: 48px 24px;

  @media (min-width: $desctop-width) {
    padding: 38px 45px 39px;
    border-left: 0.5px solid #d9d9d9;
  }

  &:hover {
    opacity: 0.7;

    @media (min-width: $desctop-width) {
      color: #bb3024;
      opacity: 0.8;
    }
  }

  &:active {
    color: #bb3024;
    opacity: 0.5;

    @media (min-width: $desctop-width) {
      color: #353535;
    }
  }
}

.site-list__link--footer {
  @media (min-width: $desctop-width) {
    padding: 47px 30px 76px 29px;
    border-left: 0.5px solid #d9d9d9;
  }
}
