.social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 11px;

  @media (min-width: $desctop-width) {
    gap: 13px;
  }
}

.social--main-nav {
  margin-bottom: 14px;

  @media (min-width: $desctop-width) {
    order: 1;
    margin: 0;
  }
}
