.technology {
  padding: 157px 33px 82px 49px;
  background-image: url("../img/technology.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  color: #ffffff;
}

.technology__title {
  font-weight: 250;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.technology__text {
  font-size: 16px;
  line-height: 22px;
  width: 281px;
  margin: 0;
}
