@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 250;
  src: url("../fonts/muller250.woff2") format("woff2"),
    url("../fonts/muller250.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/muller300.woff2") format("woff2"),
    url("../fonts/muller300.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/muller400.woff2") format("woff2"),
    url("../fonts/muller400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/muller500.woff2") format("woff2"),
    url("../fonts/muller500.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/muller700.woff2") format("woff2"),
    url("../fonts/muller700.woff") format("woff");
  font-display: swap;
}
