.patterns {
  position: relative;
  padding: 121px 24px 39px;

  @media (min-width: $desctop-width) {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #777272;
    top: 46%;
    right: 0;
  }
}

.patterns__wrapper {
  position: absolute;
  width: 376px;
  padding: 48px 5px 75px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  border-radius: 3px;
  border: 1px solid #555151;
  top: -170px;
  left: 24px;

  @media (min-width: $desctop-width) {
    position: static;
    order: 1;
    width: 1049px;
    padding: 129px 324px 159px 115px;
    border-radius: 0;
    border: none;
  }
}

.patterns__title {
  font-weight: 250;
  font-size: 35px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $desctop-width) {
    line-height: 49px;
    margin-bottom: 17px;
    text-align: left;
  }
}

.patterns__text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 340px;
  margin: 0 auto;

  @media (min-width: $desctop-width) {
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    width: 100%;
    margin: 0;
  }
}

.patterns__image {
  display: block;

  @media (min-width: $desctop-width) {
    height: 100%;
    width: 549px;
    object-fit: cover;
  }
}
